asgiref==3.11.0
certifi==2026.2.25
charset-normalizer==3.4.7
Django==5.2.10
django-cors-headers==4.5.0
djangorestframework==3.16.1
django-cors-headers==4.5.0
psycopg2-binary
requests==2.32.3
python-dotenv==1.0.1
setuptools==82.0.1
sqlparse==0.4.4
typing_extensions==4.15.0
urllib3==2.6.3
