asgiref==3.11.0
Django==5.2.10
djangorestframework==3.16.1
django-cors-headers==4.5.0
psycopg2-binary
requests==2.32.3
python-dotenv==1.0.1
pytz==2023.3
sqlparse==0.4.4
typing_extensions==4.15.0
gunicorn==20.1.0